<% if @post.errors.any? %>
  var markup = '<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2><ul>'
  <% @post.errors.full_messages.each do |message| %>
    markup += '<li><%= message %></li>'
  <% end %>
  markup += '</ul>'
  $('#notices').append('<div class="error"><div class="remove_notice">X</div>' + markup + '</div>');
  $('.error').last().delay(2500).fadeOut('slow', function(){ $(this).remove(); });
<% else %>
  if (!getQueryVariable('topic_id') || getQueryVariable('topic_id') == $('#post_topic_id').val())
    $('#filter-container').after('<%= escape_javascript(render :partial=>'post', :locals=>{ :post=>@post }) %>');
  $('#notices').append('<div class="notice"><%= notice %><div class="remove_notice">X</div></div>');
  $('.notice').last().delay(2500).fadeOut('slow', function(){ $(this).remove(); });
<% end %>
