/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  /*background-color: #f9f9f3;*/
  /*background-color: #f3f3e7;*/
  background-color: rgb(225, 214, 167);
}

pre {
  background-color: #2c2c2a;
  color: #ffffff;
}

.body p, .body ol, .body ul {
  font-family: georgia, serif;
  font-size: 120%;
  line-height: 1.5em;
}

.guest-login {
  margin-bottom: 10px;
}

#email, #sign-out {
  text-align: right;
}

#sign-out {
  white-space: nowrap;
  text-align: right;
}

#header {
  /*padding-right: 150px;*/
  max-width: 100%;
  background-color: transparent;
}

.header-link {
  clear: none;
}

#logo a img {
  float: left;
  margin-right: 10px;
}

#logo a img:hover {
  opacity: .6;
}

input[type="submit"] {
  color: #FFFFFF;
  background-color: #009eff;
  /*background-color: #6a6a67;*/
  border-radius: 6px;
  padding: 5px;
  border-bottom: 1px solid #2c2c2a;
  border-right: 1px solid #2c2c2a;
  border-left: 1px solid #7c7c75;
  border-top: 1px solid #7c7c75;
}

textarea {
  border-radius: 6px;
  border-bottom: 1px solid #2c2c2a;
  border-right: 1px solid #2c2c2a;
  border-left: 1px solid #7c7c75;
  border-top: 1px solid #7c7c75;
  font-family: sans-serif;
  padding: 5px;
}

select {
  /*color: #FFFFFF;*/
  /*background-color: #009eff;*/
  border-radius: 6px;
  padding: 5px;
  border-bottom: 1px solid #2c2c2a;
  border-right: 1px solid #2c2c2a;
  border-left: 1px solid #7c7c75;
  border-top: 1px solid #7c7c75;
}

.grid:nth-child(even) {
  /*background: #f0f0e3;*/
  /*background-color: rgb(168, 151, 77);*/
  background-color: rgb(191, 181, 142);
}
.grid:nth-child(odd) {
  /*background: #e7e7e0;*/
  background-color: rgb(191, 181, 142);
}

@media (max-width: 540px) {
  #header {
    padding-right: 0;
  }
  #header div {
    text-align: left;
  }
}
