// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
  div {
    min-height: 1px; /* keeps empty divs from collapsing */
    p {
      margin-top: 0;
    }
    // border: 1px solid teal;
  }
  // border: 1px solid red;
  &:hover {
    // background-color: #f3f3e7;
    background-color: #e7e7e0;
  }
}

.date, .time, .topic {
  font-size: medium;
}

.date {
  width: 11em;
  float: left;
}

.time {
  width: 6em;
  float: left;
}

.topic {
  display: inline-block;
  width: 8em;
  float: left;
}

.body {
  padding-left: 32em;
  padding-right: 10em;
  width: 100%;
}

.links {
  font-size: x-small;
  display: inline-block;
  width: 12em;
  float: right;
}

.current-page-link {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}

#post-form-container {
  max-width: 500px;
  width: 100%;
  /*max-width: 50em;*/
  /*margin-bottom: 2em;*/
  margin-bottom: 20px;
}

#post-index-form-container {
  @extend #post-form-container;
  margin-left: auto;
  margin-right: auto;
}

#post-form-body-input-field {
  width: 500px;
  height: 300px;
}

#post_body {
  width: 100%;
}

#filter-container {
  margin-bottom: 20px;
  text-align: center;
}

#add-new-topic {
  float: right;
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }
  text-decoration: underline;
}

.formatting-help {
  float: right;
}

#add-new-topic {
  display: none;
}

.markup-reference {
  display: none;
  div:first-child, div:last-child {
    text-align: center;
    padding: .1em;
    background-color: #EEEEFF;
    margin-top: 1em;
  }
  p, h3, ol, ul, blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

#notices {
   position: fixed;
   width: 300px;
   margin: 0;
   padding: 0;
   top: 35px;
   right: 0;
}

.notice {
  width: 99%;
  background-color: #006600;
  padding: .5em;
  color: white;
  font-weight: bold;
  margin: 1px;
}

.error {
  width: 99%;
  background-color: #CC0000;
  padding: .5em;
  color: white;
  font-weight: bold; margin: 1px;
}

.remove_notice {
  float: right; cursor: pointer;
}

.body p:last-child {
  margin-bottom: 0;
}

.original-text {
  display: none;
}

.cancel {
  display: none;
}

@media (max-width: 860px) {
  .links {
    display: inline-block;
    width: 4em;
    float: right;
  }
  .date {
    width: 11em;
    float: left;
  }
  .time {
    width: 6em;
    float: left;
    clear: left;
    margin-left: 1em;
  }
  .topic {
    display: inline-block;
    width: 8em;
    float: left;
    clear: left;
    margin-left: 1em;
  }
  .body {
    padding-left: 15em;
    padding-right: 4em;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .links {
    display: block;
    width: 100%;
    float: none;
  }
  .date {
    width: 100%;
    float: none;
  }
  .time {
    width: 100%;
    float: none;
    clear: none;
  }
  .topic {
    display: block;
    width: 100%;
    float: none;
    clear: none;
  }
  .body {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
