// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid div {
  min-height: 1px; /* keeps empty divs from collapsing */
  p {
    margin-top: 0;
  }
  margin-bottom: 2em;
  /*border: 1px solid teal;*/
}

.date, .time, .topic {
  font-size: medium;
}

.links {
  font-size: x-small;
}

.current-page-link {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}

#post-index-form-container {
  max-width: 500px;
  width: 100%;
  /*max-width: 50em;*/
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 2em;*/
  margin-bottom: 20px;
}

#post-form-body-input-field {
  width: 500px;
  height: 300px;
}