// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  width: 400px;
  height: 200px;
}

.grid div {
  min-height: 1px; /* keeps empty divs from collapsing */
  p {
    margin-top: 0;
  }
  margin-bottom: 2em;
}

.date, .time, .topic {
  font-size: medium;
}

.links {
  font-size: x-small;
}

.current-page-link {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}